body
{
	background-image:url( https://tse2.mm.bing.net/th?id=OIP.nVj7UTSm0fIA1gxmmn6vNAHaEL&pid=Api&P=0&w=309&h=174);
	background-repeat: no-repeat;
	background-position: 200px;
	background-size: 900px;
}

	.login_div1 , .login_div2
	{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
